<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="text-center p-5 my-5 bg-light rounded">
      <h1 class="display-4 text-primary">¡Bienvenidos a Arquitectura Cloud 057!</h1>
      <p class="lead mt-4 text-secondary">
        Queridos estudiantes, estamos encantados de darles la más cálida bienvenida a este emocionante viaje en el mundo de la arquitectura cloud.
      </p>
      <p class="mt-3 text-secondary">
        Prepárense para explorar, aprender y crecer juntos. Aquí, en Arquitectura Cloud 057, no solo nos sumergiremos en la teoría y la práctica, sino que también construiremos una comunidad de innovadores apasionados y curiosos.
      </p>
      <p class="mt-3 text-secondary">
        ¡Abracen cada desafío, celebren cada logro y disfruten de cada momento en esta aventura educativa!
      </p>
      <p class="mt-4 text-secondary">
        <strong>¡Vamos a construir el futuro, uno en la nube a la vez!</strong>
      </p>
    </div>
  </div>
</div>